@import './common';

@font-face {
  font-weight: normal;
  font-family: 'vant-icon';
  font-style: normal;
  font-display: auto;
  src:
    url('//at.alicdn.com/t/c/font_4799314_4ulx2oy31zi.woff2?t=1735733670752') format('woff2'),
    url('//at.alicdn.com/t/c/font_4799314_4ulx2oy31zi.woff?t=1735733670752') format('woff'),
    url('//at.alicdn.com/t/c/font_4799314_4ulx2oy31zi.ttf?t=1735733670752') format('truetype');
}
